In [1]:
from pandas import read_csv
age_df = read_csv("Dataset/age1.csv")
age_df.head()

   Age  Income
0   20   10000
1   30   15000
2   80   50000
3   50   30000
4   10    5000

In [2]:
X = age_df[['Age']]
y = age_df['Income']

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)

In [4]:
print(X_train,'\n: X_train :\n')
print(X_test,'\n: X_test :\n')
print(y_train,'\n: y_train :\n')
print(y_test,'\n: y_test :\n')

   Age
0   20
1   30
2   80
3   50
4   10
5   45
6   30
7   55
: X_train :

   Age
8   60
9   70
: X_test :

0    10000
1    15000
2    50000
3    30000
4     5000
5    25000
6    20000
7    35000
Name: Income, dtype: int64
: y_train :

8    40000
9    45000
Name: Income, dtype: int64
: y_test :

In [5]:
import pandas as pd
iris_df = pd.read_csv('https://5minutesengineering.com/wp-content/uploads/2021/05/iris.csv')
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
iris_df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [7]:
X = iris_df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y = iris_df['species']

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)

In [9]:
print(X_train,'\n: X_train :\n')
print(X_test,'\n: X_test :\n')
print(y_train,'\n: y_train :\n')
print(y_test,'\n: y_test :\n')

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
115           6.4          3.2           5.3          2.3
116           6.5          3.0           5.5          1.8
117           7.7          3.8           6.7          2.2
118           7.7          2.6           6.9          2.3
119           6.0          2.2           5.0          1.5

[120 rows x 4 columns]
: X_train :

     sepal_length  sepal_width  petal_length  petal_width
120           6.9          3.2           5.7          2.3
121           5.6          2.8           4.9          2.0
122           7.7          2.8           6.7          2.0
123           6.3          2.7           4.9          1.8
124           6.7          3.3           5.7          2.1
125           7.2          3.2           6.0          1.8
126           6.2          2.8           4.8          1.8
127           6.1          3.0           4.9          1.8
128           6.4          2.8           5.6          2.1
129           7.2          3.0           5.8          1.6
130           7.4          2.8           6.1          1.9
131           7.9          3.8           6.4          2.0
132           6.4          2.8           5.6          2.2
133           6.3          2.8           5.1          1.5
134           6.1          2.6           5.6          1.4
135           7.7          3.0           6.1          2.3
136           6.3          3.4           5.6          2.4
137           6.4          3.1           5.5          1.8
138           6.0          3.0           4.8          1.8
139           6.9          3.1           5.4          2.1
140           6.7          3.1           5.6          2.4
141           6.9          3.1           5.1          2.3
142           5.8          2.7           5.1          1.9
143           6.8          3.2           5.9          2.3
144           6.7          3.3           5.7          2.5
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8
: X_test :

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
115    virginica
116    virginica
117    virginica
118    virginica
119    virginica
Name: species, Length: 120, dtype: object
: y_train :

120    virginica
121    virginica
122    virginica
123    virginica
124    virginica
125    virginica
126    virginica
127    virginica
128    virginica
129    virginica
130    virginica
131    virginica
132    virginica
133    virginica
134    virginica
135    virginica
136    virginica
137    virginica
138    virginica
139    virginica
140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, dtype: object
: y_test :

In [10]:
from sklearn.model_selection import train_test_split
# without shuffle=False
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [11]:
print(X_train,'\n: X_train :\n')
print(X_test,'\n: X_test :\n')
print(y_train,'\n: y_train :\n')
print(y_test,'\n: y_test :\n')

     sepal_length  sepal_width  petal_length  petal_width
138           6.0          3.0           4.8          1.8
121           5.6          2.8           4.9          2.0
133           6.3          2.8           5.1          1.5
79            5.7          2.6           3.5          1.0
93            5.0          2.3           3.3          1.0
..            ...          ...           ...          ...
41            4.5          2.3           1.3          0.3
122           7.7          2.8           6.7          2.0
136           6.3          3.4           5.6          2.4
128           6.4          2.8           5.6          2.1
141           6.9          3.1           5.1          2.3

[120 rows x 4 columns]
: X_train :

     sepal_length  sepal_width  petal_length  petal_width
90            5.5          2.6           4.4          1.2
87            6.3          2.3           4.4          1.3
58            6.6          2.9           4.6          1.3
120           6.9          3.2           5.7          2.3
67            5.8          2.7           4.1          1.0
66            5.6          3.0           4.5          1.5
95            5.7          3.0           4.2          1.2
72            6.3          2.5           4.9          1.5
143           6.8          3.2           5.9          2.3
48            5.3          3.7           1.5          0.2
129           7.2          3.0           5.8          1.6
86            6.7          3.1           4.7          1.5
127           6.1          3.0           4.9          1.8
22            4.6          3.6           1.0          0.2
147           6.5          3.0           5.2          2.0
20            5.4          3.4           1.7          0.2
140           6.7          3.1           5.6          2.4
46            5.1          3.8           1.6          0.2
98            5.1          2.5           3.0          1.1
2             4.7          3.2           1.3          0.2
134           6.1          2.6           5.6          1.4
75            6.6          3.0           4.4          1.4
68            6.2          2.2           4.5          1.5
82            5.8          2.7           3.9          1.2
70            5.9          3.2           4.8          1.8
78            6.0          2.9           4.5          1.5
32            5.2          4.1           1.5          0.1
37            4.9          3.1           1.5          0.1
49            5.0          3.3           1.4          0.2
131           7.9          3.8           6.4          2.0
: X_test :

138     virginica
121     virginica
133     virginica
79     versicolor
93     versicolor
          ...
41         setosa
122     virginica
136     virginica
128     virginica
141     virginica
Name: species, Length: 120, dtype: object
: y_train :

90     versicolor
87     versicolor
58     versicolor
120     virginica
67     versicolor
66     versicolor
95     versicolor
72     versicolor
143     virginica
48         setosa
129     virginica
86     versicolor
127     virginica
22         setosa
147     virginica
20         setosa
140     virginica
46         setosa
98     versicolor
2          setosa
134     virginica
75     versicolor
68     versicolor
82     versicolor
70     versicolor
78     versicolor
32         setosa
37         setosa
49         setosa
131     virginica
Name: species, dtype: object
: y_test :

In [12]:
from sklearn.model_selection import train_test_split
# without shuffle=False and random_state=42
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
print(X_train,'\n: X_train :\n')
print(X_test,'\n: X_test :\n')
print(y_train,'\n: y_train :\n')
print(y_test,'\n: y_test :\n')

     sepal_length  sepal_width  petal_length  petal_width
22            4.6          3.6           1.0          0.2
15            5.7          4.4           1.5          0.4
65            6.7          3.1           4.4          1.4
11            4.8          3.4           1.6          0.2
42            4.4          3.2           1.3          0.2
..            ...          ...           ...          ...
71            6.1          2.8           4.0          1.3
106           4.9          2.5           4.5          1.7
14            5.8          4.0           1.2          0.2
92            5.8          2.6           4.0          1.2
102           7.1          3.0           5.9          2.1

[120 rows x 4 columns]
: X_train :

     sepal_length  sepal_width  petal_length  petal_width
73            6.1          2.8           4.7          1.2
18            5.7          3.8           1.7          0.3
118           7.7          2.6           6.9          2.3
78            6.0          2.9           4.5          1.5
76            6.8          2.8           4.8          1.4
31            5.4          3.4           1.5          0.4
64            5.6          2.9           3.6          1.3
141           6.9          3.1           5.1          2.3
68            6.2          2.2           4.5          1.5
82            5.8          2.7           3.9          1.2
110           6.5          3.2           5.1          2.0
12            4.8          3.0           1.4          0.1
36            5.5          3.5           1.3          0.2
9             4.9          3.1           1.5          0.1
19            5.1          3.8           1.5          0.3
56            6.3          3.3           4.7          1.6
104           6.5          3.0           5.8          2.2
69            5.6          2.5           3.9          1.1
55            5.7          2.8           4.5          1.3
132           6.4          2.8           5.6          2.2
29            4.7          3.2           1.6          0.2
127           6.1          3.0           4.9          1.8
26            5.0          3.4           1.6          0.4
128           6.4          2.8           5.6          2.1
131           7.9          3.8           6.4          2.0
145           6.7          3.0           5.2          2.3
108           6.7          2.5           5.8          1.8
143           6.8          3.2           5.9          2.3
45            4.8          3.0           1.4          0.3
30            4.8          3.1           1.6          0.2
: X_test :

22         setosa
15         setosa
65     versicolor
11         setosa
42         setosa
          ...
71     versicolor
106     virginica
14         setosa
92     versicolor
102     virginica
Name: species, Length: 120, dtype: object
: y_train :

73     versicolor
18         setosa
118     virginica
78     versicolor
76     versicolor
31         setosa
64     versicolor
141     virginica
68     versicolor
82     versicolor
110     virginica
12         setosa
36         setosa
9          setosa
19         setosa
56     versicolor
104     virginica
69     versicolor
55     versicolor
132     virginica
29         setosa
127     virginica
26         setosa
128     virginica
131     virginica
145     virginica
108     virginica
143     virginica
45         setosa
30         setosa
Name: species, dtype: object
: y_test :

In [14]:
from sklearn.model_selection import train_test_split
# without shuffle=False and random_state=42
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=41)

In [15]:
print(X_train,'\n: X_train :\n')
print(X_test,'\n: X_test :\n')
print(y_train,'\n: y_train :\n')
print(y_test,'\n: y_test :\n')

     sepal_length  sepal_width  petal_length  petal_width
79            5.7          2.6           3.5          1.0
54            6.5          2.8           4.6          1.5
106           4.9          2.5           4.5          1.7
90            5.5          2.6           4.4          1.2
145           6.7          3.0           5.2          2.3
..            ...          ...           ...          ...
26            5.0          3.4           1.6          0.4
89            5.5          2.5           4.0          1.3
65            6.7          3.1           4.4          1.4
80            5.5          2.4           3.8          1.1
140           6.7          3.1           5.6          2.4

[120 rows x 4 columns]
: X_train :

     sepal_length  sepal_width  petal_length  petal_width
119           6.0          2.2           5.0          1.5
128           6.4          2.8           5.6          2.1
135           7.7          3.0           6.1          2.3
91            6.1          3.0           4.6          1.4
112           6.8          3.0           5.5          2.1
71            6.1          2.8           4.0          1.3
123           6.3          2.7           4.9          1.8
85            6.0          3.4           4.5          1.6
147           6.5          3.0           5.2          2.0
143           6.8          3.2           5.9          2.3
127           6.1          3.0           4.9          1.8
39            5.1          3.4           1.5          0.2
38            4.4          3.0           1.3          0.2
93            5.0          2.3           3.3          1.0
23            5.1          3.3           1.7          0.5
133           6.3          2.8           5.1          1.5
30            4.8          3.1           1.6          0.2
83            6.0          2.7           5.1          1.6
37            4.9          3.1           1.5          0.1
41            4.5          2.3           1.3          0.3
81            5.5          2.4           3.7          1.0
120           6.9          3.2           5.7          2.3
43            5.0          3.5           1.6          0.6
2             4.7          3.2           1.3          0.2
64            5.6          2.9           3.6          1.3
62            6.0          2.2           4.0          1.0
56            6.3          3.3           4.7          1.6
67            5.8          2.7           4.1          1.0
49            5.0          3.3           1.4          0.2
63            6.1          2.9           4.7          1.4
: X_test :

79     versicolor
54     versicolor
106     virginica
90     versicolor
145     virginica
          ...
26         setosa
89     versicolor
65     versicolor
80     versicolor
140     virginica
Name: species, Length: 120, dtype: object
: y_train :

119     virginica
128     virginica
135     virginica
91     versicolor
112     virginica
71     versicolor
123     virginica
85     versicolor
147     virginica
143     virginica
127     virginica
39         setosa
38         setosa
93     versicolor
23         setosa
133     virginica
30         setosa
83     versicolor
37         setosa
41         setosa
81     versicolor
120     virginica
43         setosa
2          setosa
64     versicolor
62     versicolor
56     versicolor
67     versicolor
49         setosa
63     versicolor
Name: species, dtype: object
: y_test :

In [16]:
from sklearn.model_selection import train_test_split
# without shuffle=False and random_state=42
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
print(X_train,'\n: X_train :\n')
print(X_test,'\n: X_test :\n')
print(y_train,'\n: y_train :\n')
print(y_test,'\n: y_test :\n')

     sepal_length  sepal_width  petal_length  petal_width
22            4.6          3.6           1.0          0.2
15            5.7          4.4           1.5          0.4
65            6.7          3.1           4.4          1.4
11            4.8          3.4           1.6          0.2
42            4.4          3.2           1.3          0.2
..            ...          ...           ...          ...
71            6.1          2.8           4.0          1.3
106           4.9          2.5           4.5          1.7
14            5.8          4.0           1.2          0.2
92            5.8          2.6           4.0          1.2
102           7.1          3.0           5.9          2.1

[120 rows x 4 columns]
: X_train :

     sepal_length  sepal_width  petal_length  petal_width
73            6.1          2.8           4.7          1.2
18            5.7          3.8           1.7          0.3
118           7.7          2.6           6.9          2.3
78            6.0          2.9           4.5          1.5
76            6.8          2.8           4.8          1.4
31            5.4          3.4           1.5          0.4
64            5.6          2.9           3.6          1.3
141           6.9          3.1           5.1          2.3
68            6.2          2.2           4.5          1.5
82            5.8          2.7           3.9          1.2
110           6.5          3.2           5.1          2.0
12            4.8          3.0           1.4          0.1
36            5.5          3.5           1.3          0.2
9             4.9          3.1           1.5          0.1
19            5.1          3.8           1.5          0.3
56            6.3          3.3           4.7          1.6
104           6.5          3.0           5.8          2.2
69            5.6          2.5           3.9          1.1
55            5.7          2.8           4.5          1.3
132           6.4          2.8           5.6          2.2
29            4.7          3.2           1.6          0.2
127           6.1          3.0           4.9          1.8
26            5.0          3.4           1.6          0.4
128           6.4          2.8           5.6          2.1
131           7.9          3.8           6.4          2.0
145           6.7          3.0           5.2          2.3
108           6.7          2.5           5.8          1.8
143           6.8          3.2           5.9          2.3
45            4.8          3.0           1.4          0.3
30            4.8          3.1           1.6          0.2
: X_test :

22         setosa
15         setosa
65     versicolor
11         setosa
42         setosa
          ...
71     versicolor
106     virginica
14         setosa
92     versicolor
102     virginica
Name: species, Length: 120, dtype: object
: y_train :

73     versicolor
18         setosa
118     virginica
78     versicolor
76     versicolor
31         setosa
64     versicolor
141     virginica
68     versicolor
82     versicolor
110     virginica
12         setosa
36         setosa
9          setosa
19         setosa
56     versicolor
104     virginica
69     versicolor
55     versicolor
132     virginica
29         setosa
127     virginica
26         setosa
128     virginica
131     virginica
145     virginica
108     virginica
143     virginica
45         setosa
30         setosa
Name: species, dtype: object
: y_test :